
<ng-container [formGroup]="addressInfo">
    <div class="form-row">
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="country" text="Country"></kendo-label>
          <kendo-combobox [data]="countryInfo" #country></kendo-combobox>
        </kendo-formfield>
      </div>
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="city" text="City"></kendo-label>
          <kendo-combobox [data]="stateInfo" #city></kendo-combobox>
        </kendo-formfield> 
      </div>
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="city" text="City"></kendo-label>
          <kendo-combobox [data]="cityInfo" #city></kendo-combobox>
        </kendo-formfield> 
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="phoneNumber" text="phoneNumber"></kendo-label>
          <input [formControlName]="'phoneNumber'" kendoTextBox #phoneNumber/>
          <kendo-formerror *ngIf="addressInfo.controls['phoneNumber'].errors?.['required']">phoneNumber is required</kendo-formerror>
          <kendo-formerror *ngIf="addressInfo.controls['phoneNumber'].errors">Not a valid phoneNumber format</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="email" text="Email"></kendo-label>
          <input [formControlName]="'email'" kendoTextBox #email/>
          <kendo-formerror *ngIf="addressInfo.controls['email'].errors?.['required']">Email is required</kendo-formerror>
          <kendo-formerror *ngIf="addressInfo.controls['email'].errors">Not a valid email format</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="form-group col-4">
        <kendo-formfield>
          <kendo-label [for]="postalCode" text="PostalCode"></kendo-label>
          <input [formControlName]="'postalCode'" kendoTextBox #postalCode/>
          <kendo-formerror *ngIf="addressInfo.controls['postalCode'].errors?.['required']">PostalCode is required</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <kendo-formfield>
          <kendo-label [for]="address" text="Address"></kendo-label>
          <kendo-textarea [formControlName]="'address'" #address minlength="5"></kendo-textarea>
          <kendo-formerror *ngIf="addressInfo.controls['address'].errors?.['required']">Address is required</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>
</ng-container>





